body {
  font-family: "Roboto Mono", monospace;
  background-color: powderblue;
}

h1 {
  font-size: 50px;
  color: rgb(21, 154, 74);
}

form {
  font-size: 25px;
}

input:focus {
  outline: none;
}

#guess button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
#guess button:hover {
  background-color: tomato;
}

#range span,
#gameResult {
  font-weight: bold;
}

#playResult,
#gameResult {
  font-size: 20px;
}
